<html>
    <head>
        <title>Kahli's DjangoGirls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Kahli's Example of a Django Girls Blog</a></h1>
        </div>

        <div>
          {% for post in posts %}
            <div>
              <p> pubished: {{post.published_date}}</p>
              <h1> <a href = ""> {{post.title}} </a></h1>
              <p> {{ post.text|linebreaksbr}} </p>
        </div>

          {% endfor %}

        </div>
    </body>
</html>
